## Some of The Most Important SQL Commands
SELECT - extracts data from a database

UPDATE - updates data in a database

DELETE - deletes data from a database

INSERT INTO - inserts new data into a database

CREATE DATABASE - creates a new database

ALTER DATABASE - modifies a database

CREATE TABLE - creates a new table

ALTER TABLE - modifies a table

DROP TABLE - deletes a table

CREATE INDEX - creates an index (search key)

DROP INDEX - deletes an index

# Make connection to database and return all table names

In [ ]:
import sqlite3

In [ ]:
def sql_query(cmd):
    conn = sqlite3.connect('./Data/Northwind_small.sqlite')
    c = conn.cursor()
    c.execute(cmd)
    data = c.fetchall()
    conn.commit()
    c.close()
    return data

In [ ]:
sql_query("select name from sqlite_master where type='table'")

In [ ]:
sql_query("select * from pragma_table_info('pragma_table_info')")

# Return column names

In [ ]:
sql_query("select name from pragma_table_info('employee')")

# Return specific column(s) data

In [ ]:
sql_query("select lastname, firstname from employee")

# Return unique/distinct values and count

In [ ]:
sql_query("select distinct firstname from employee")

In [ ]:
sql_query("select count(distinct firstname) from employee")

In [ ]:
sql_query("select count(*) as distinctnames from (select distinct firstname from employee)")

# Filter result using WHERE conditions

In [ ]:
sql_query("select * from employee where city!='Seattle'")

In [ ]:
sql_query("select * from employee where reportsto>=5")

In [ ]:
# check for null
sql_query("select count(*) from employee where reportsto is null")

In [ ]:
# using not
sql_query("select count(*) from employee where not reportsto is null")

#### Operators in where clause

=	Equal
>	Greater than	
<	Less than	
>=	Greater than or equal	
<=	Less than or equal	
!=	Not equal. Note: In some versions of SQL this operator may be written as <>
BETWEEN	Between a certain range	
LIKE	Search for a pattern	
IN	To specify multiple possible values for a column

# Conditions with AND, OR, and NOT

In [ ]:
sql_query("select * from employee where (not reportsto is null) and ((city='Seattle') or (city='London')) ")

# Sort results with ORDER BY

SELECT * FROM <table>
ORDER BY <field1>, <field2> DESC;

In [ ]:
sql_query("select * from employee where (not reportsto is null) and ((city='Seattle') or (city='London')) order by city, lastname")

# Add data with INSERT INTO

In [ ]:
sql_query("select name from sqlite_master where type='table'")

In [ ]:
sql_query("select * from pragma_table_info('region')")

In [ ]:
sql_query("insert into Region (RegionDescription) values ('Moon')")

In [ ]:
sql_query("insert into region (Id, RegionDescription) values(5, 'Moon')")

In [ ]:
sql_query("select * from region")

# Update records with UPDATE

In [ ]:
sql_query("update region set regiondescription='Mars' where id=5")

In [ ]:
sql_query("select * from region")

# Delete records

In [ ]:
sql_query("delete from region where id=7")

In [ ]:
sql_query("select * from region")

# LIMIT

In [ ]:
sql_query("select * from region limit 3")

# Functions

min(<field>)
max(<field>)
count(<field>)
avg(<field>)
sum(<field>)

In [ ]:
sql_query("select count(id) from region")

# LIKE

The percent sign (%) represents zero, one, or multiple characters
The underscore sign (_) represents one, single character

                LIKE Operator	 Description
WHERE CustomerName LIKE 'a%'	Finds any values that start with "a"
WHERE CustomerName LIKE '%a'	Finds any values that end with "a"
WHERE CustomerName LIKE '%or%'	Finds any values that have "or" in any position
WHERE CustomerName LIKE '_r%'	Finds any values that have "r" in the second position
WHERE CustomerName LIKE 'a_%'	Finds any values that start with "a" and are at least 2 characters in length
WHERE CustomerName LIKE 'a__%'	Finds any values that start with "a" and are at least 3 characters in length
WHERE ContactName LIKE 'a%o'	Finds any values that start with "a" and ends with "o"

In [ ]:
sql_query("select * from employee where lastname like 'k%'")

# Wild cards

NOTE: Only % and _ wild cards are used in sqlite

Symbol	Description	Example
%	Represents zero or more characters	bl% finds bl, black, blue, and blob
_	Represents a single character	h_t finds hot, hat, and hit

In [ ]:
sql_query("select * from employee where lastname like '%ing'")

# IN operator

The IN operator is a shorthand for multiple OR conditions.

In [ ]:
sql_query("select firstname from employee where lastname in ('King', 'Suyama')")

# BETWEEN operator

In [ ]:
sql_query("select firstname from employee where id between 1 and 4")

In [ ]:
sql_query("select hiredate from employee where hiredate between '2025-01-01' and '2026-01-01'")

# Alias

sqlite does not support CONCAT() function. Instead, it uses || to concatinate strings

In [ ]:
sql_query("select lastname || ', ' || firstname from employee")

In [ ]:
sql_query("select (lastname || ', ' || firstname) as name from employee")

In [ ]:
sql_query("select x.lastname from employee as x")

# JOIN

Different types of the JOINs in SQL:

(INNER) JOIN: Returns records that have matching values in both tables
LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table

In [ ]:
sql_query("select name from sqlite_master where type='table'")

In [ ]:
sql_query("select name from pragma_table_info('employee')")

In [ ]:
sql_query("select name from pragma_table_info('product')")

In [ ]:
sql_query("select name from pragma_table_info('order')")

In [ ]:
sql_query("select name from pragma_table_info('customer')")

In [ ]:
sql_query("select product.id, product.productname, customer.companyname from ('order', product, orderdetail, customer) where (product.id = orderdetail.productid and orderdetail.orderid = 'order'.id and 'order'.customerid = customer.id) and product.id=5")

In [ ]:
sql_query("select 'order'.id, product.id, product.productname from ('order', product, orderdetail) WHERE ('order'.id = orderdetail.orderid) AND (orderdetail.productid = product.id)")

In [ ]:
sql_query("select employee.id from employee where employee.reportsto in (select employee.id from employee where employee.reportsto=2)")

In [ ]:
sql_query("select id, reportsto from employee")